*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}

:root{
    /* primary colors */

    --clr-primary-moderate-violet: hsl(263, 55%, 52%);
    --clr-primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --clr-primary-white: hsl(0, 0%, 100%);

    /* neutral colors */
    --clr-neutral-light-gray: hsl(0, 0%, 81%);
    --clr-neutral-light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    font-size: 13px;
    background: var(--clr-neutral-light-grayish-blue);
}

main{
    width: min(80%, 1440px);
    margin-top: clamp(8%, 12rem, 4rem);
    margin-inline: auto;
}

.container{
    display: flex;  
    flex-wrap: wrap;  
    gap: 2em;
}

.container > *:nth-child(1){
    flex: 1 1 70%;
    min-width: 25ch;
}

.container > *:nth-child(2){
    flex: 1 1 17%;
    min-width: 35ch;
}




/* user-info */

.user-info{
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

.user-info .user1{
    display: flex;
    align-items: center;
}

.user-info  img{
    width: 35px;
    border: 2px solid var(--clr-neutral-light-gray);
    border-radius: 50%;
    margin-right: 1rem;
}

.user-info p{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;   
    letter-spacing: 1px;
    color: var(--clr-neutral-light-gray);
}

.user-info p span{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    color: hsla(0, 0%, 81%, 0.5);
}


/* user story */

.user-story h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-neutral-light-gray);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.user-story p{
    font-size: 14px;
    font-weight: 500;
    color: hsla(0, 0%, 81%, 0.7);
}


/* col1 */

.col1{
    display: flex;
    gap: 2em;
}

@media screen and (max-width: 768px){
    .col1{
        display: block;
    }
}

.col1 > *:nth-child(1){
    flex: 1 1 60%;
    min-width: 25ch;
    background: var(--clr-primary-moderate-violet);
    border-radius: 8px;
    padding: 1.8rem;
}

.col1 > *:nth-child(2){
    flex: 1 1 30%;
    min-width: 25ch;
    background: var(--clr-primary-very-dark-grayish-blue);
    border-radius: 8px;
    padding: 1.8rem;
}


/* col2 */

.col2{
    display: flex;
    gap: 2em;
}

@media screen and (max-width: 768px){
    .col2{
        display: block;
    }
}

.col2 > *:nth-child(1){
    flex: 1 1 30%;
    min-width: 25ch;
    background: var(--clr-primary-white);
    border-radius: 8px;
    padding: 1.8rem;
}

.col2 > *:nth-child(2){
    flex: 1 1 60%;
    min-width: 25ch;
    background: var(--clr-primary-very-dark-blackish-blue);
    border-radius: 8px;
    padding: 1.8rem;
}

.col2 > *:nth-child(1){
    .user1 p{
        color: var(--clr-primary-very-dark-grayish-blue);
    }

    .user1 p span{
        color: hsla(217, 19%, 35%, 0.5);
    }

    .user-story h4{
        color: var(--clr-primary-very-dark-grayish-blue);
    }

    .user-story p{
        color: hsla(217, 19%, 35%, 0.7);
    }
} 


/* column 2 */

.column2{

    .user-info{
        padding: 1.5rem;
        padding-bottom: 3.5rem;
        background: var(--clr-primary-white);
        border-radius: 8px;
    }

    .user-info p{
        color: var(--clr-primary-very-dark-grayish-blue);
    }

    .user-info p span{
        color: hsla(217, 19%, 35%, 0.5);

    }

    .user-story h4{
        color: var(--clr-primary-very-dark-grayish-blue);
    }

    .user-story p{
        color: hsla(217, 19%, 35%, 0.7);
    }

}









.attribution { font-size: 11px; text-align: center; margin: 2rem; }
.attribution a { color: hsl(228, 45%, 44%); }